@media print {
    *,body {
        transform:none !important;
        padding: 0 !important;
    }
    .print-preview {
        margin: 0 !important;
        overflow: visible !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
    .canvas {
        overflow: visible;
    }
    .navbar {
        display:none;
    }
}
.canvas {
    overflow:hidden;
}
.print-preview {
    background:white;
    margin:5px;
    outline: 1px solid #fff;
    box-shadow: 0 0px 5px rgba(0,0,0,0.5);
    overflow:hidden;
}